:root {
  --body-bg-color: #f3f3f3;
  --body-text-color: #444;
  --pure-white-color: #fff;
  --light-grey-color: #ccc;

  --grey-text-color: #bbb;
  --grey-hover-color: #777;

  --bg-green-color: #4caf50;
  --bg-dark-green-color: #388e3c;
  --bg-red-color: #f44336;
  --bg-dark-red-color: #d32f2f;

  --grey-border-color: #eee;
  --grey-form-input-color: #ffffff66;

  --bg-operation-transfer-orange-color: #ff9800;
  --bg-operation-transfer-yellow-color: #ffeb3b;
  --bg-operation-loan-green-color: #4caf50;
  --bg-operation-loan-light-green-color: #9be15d;
  --bg-operation-close-orange-red-color: #e52a58;
  --bg-operation-close-pink-red-color: #ff585f;

  --border-radius-form-inputs: 5px;
  --border-radius-movements: 22px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--body-text-color);
  background-color: var(--body-bg-color);
  padding: 2em;
}

/* Header  */

header {
  width: auto;
  height: auto;
  padding: 1.4em 3.5em;
}

header .header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-nav .welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

header .header-nav .header-logo {
  height: 5.2rem;
}

header .header-nav .login-form {
  height: 5.2rem;

  display: flex;
  align-items: center;
}

header .header-nav .login-input {
  width: 12.2rem;
  border: none;
  padding: 0.5em 1.2em;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  margin-right: 0.65em;
  color: inherit;
  border-radius: 0.95em;
  border: 1px solid var(--pure-white-color);
  transition: all 0.3s;
}

header .header-nav .login-input:focus {
  outline: none;
  border: 1px solid var(--light-grey-color);
}

header .header-nav .login-input::placeholder {
  color: var(--grey-text-color);
}

header .header-nav .login-btn {
  width: 5.2rem;
  height: 5.2rem;
  font-size: 2.3rem;
  padding: 0.5em;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:hover,
.login-btn:focus {
  outline: none;
  /* color: red; */
  color: var(--grey-hover-color);
}

/* Main */

/* Main will be a display grid of two columns and three rows: of which the middle row will be three grid rows of 15rem each. */

.main {
  max-width: 100rem;
  margin: 4em auto;

  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2em;
}

/* Balance */

.main .section-balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0 1em;
}

.main .section-balance .balance-label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.004em;
}

.main .section-balance .balance-date {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--grey-text-color);
}

.main .section-balance .balance-value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* Movements */

.main .section-movements {
  grid-row: 2 / span 3;
  background-color: var(--pure-white-color);
  overflow-y: scroll;
}

.main .section-movements .movements-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.4em 4em;
  border-bottom: 1px solid var(--grey-border-color);
}

.main .section-movements .movements-row:last-child {
  border-bottom: none;
}

.main .section-movements .movements-row .movements-info {
  display: flex;
  justify-items: space-between;
  align-items: center;
}

.main .section-movements .movements-row .movements-info .movements-date {
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 1.3em;
}

.main .section-movements .movements-row .movements-info .movements-value {
  font-size: 2.4rem;
  font-weight: 500;
  margin-left: auto;
}

.main .section-movements .movements-row .movements-type {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.3em 0.8em;
  border-radius: var(--border-radius-movements);
  text-transform: uppercase;
}

.main .section-movements .movements-row .movements-type--deposit {
  background-image: linear-gradient(
    to right,
    var(--bg-green-color),
    var(--bg-dark-green-color)
  );
  color: var(--pure-white-color);
}

.main .section-movements .movements-row .movements-type--withdrawal {
  background-image: linear-gradient(
    to right,
    var(--bg-red-color),
    var(--bg-dark-red-color)
  );
  color: var(--pure-white-color);
}

/* Summary */

.main .section-summary {
  grid-row: 5 / 6;
  align-items: center;
  padding: 0 0.3em;
}

.main .section-summary .summary-row {
  display: flex;
  justify-content: space-between;
}

.main .section-summary .summary-row .summary-info {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 1em;
  text-transform: uppercase;
}

.main .section-summary .summary-row .summary-info .summary-label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--body-text-color);
}

.main .section-summary .summary-row .summary-info .summary-value {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--body-text-color);
}

.main .section-summary .summary-row .summary-sort {
  padding: 0 0 0 1em;
  color: var(--body-text-color);
}

.main .section-summary .summary-row .summary-info .summary-value--in {
  color: var(--bg-green-color);
}

.main .section-summary .summary-row .summary-info .summary-value--out {
  color: var(--bg-dark-red-color);
}

.main .section-summary .summary-row .summary-info .summary-value--interest {
  color: var(--bg-green-color);
}

.main .section-summary .summary-row .summary-sort .summary-sort-btn {
  height: 100%;
  padding: 0 0.5em;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* All Operations */

.section-operations {
  min-width: 24.3rem;
  border-radius: 1em;
  padding: 3em 4em;
  color: var(--body-text-color);
}

.section-operations--transfer {
  background-image: linear-gradient(
    to top left,
    var(--bg-operation-transfer-orange-color),
    var(--bg-operation-transfer-yellow-color)
  );
}

.section-operations--loan {
  background-image: linear-gradient(
    to top left,
    var(--bg-operation-loan-green-color),
    var(--bg-operation-loan-light-green-color)
  );
}

.section-operations--close {
  background-image: linear-gradient(
    to top left,
    var(--bg-operation-close-orange-red-color),
    var(--bg-operation-close-pink-red-color)
  );
}

.section-operations > h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1.2em;
}

.section-operations .form {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.5fr;
  grid-template-rows: auto auto;
  gap: 0.8em 1em;
}

.section-operations .form .form-input {
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: var(--border-radius-form-inputs);
  background-color: var(--grey-form-input-color);
  font-family: inherit;
  font-size: 1.2rem;
  text-align: center;
  color: var(--body-text-color);
  transition: all 0.3s;
}

.form .form-input:focus {
  outline: none;
  background-color: var(--grey-form-input-color);
}

.form .form-label {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Exceptions  */

.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form .form-label--loan {
  grid-row: 2;
}

/* End Exceptions */

.form .form-btn {
  border-radius: var(--border-radius-form-inputs);
  border: none;
}

.form .form-btn:focus {
  outline: none;
  background-color: var(--grey-form-input-color);
}

/* Logout timer */

.section-logout-timer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-logout-timer .logout-timer {
  font-size: 1.3rem;
}

.section-logout-timer .logout-timer .timer {
  font-weight: 600;
}

/* footer */

.footer > p {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.5em 0;
  text-align: right;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: var(--bg-green-color);
}

/* Hide the app */

/* Instead utilising display:none; setting the opacity to nill ensures that the footer element remains at the bottom of page */

.hidden {
  opacity: 0;
}
